<div class="row class="mt-5"">
    <div class="col">
        <h1 class="text-center">{{ image.alt }}</h1>
        <p class="text-center">
            <img src="{{ image.src }}" alt="{{ image.alt }}" class="img-fluid" />
        </p>
    </div>
</div>